{{ ansible_managed | comment }}

[Unit]
Description=Jenkins exporter Service
After=multi-user.target

[Service]
User={{ jenkins_process_user }}
Group={{ jenkins_process_group }}
Type=simple
WorkingDirectory=/opt/jenkins-exporter
ExecStart=/usr/bin/python3.6 /opt/jenkins-exporter/main.py

[Install]
WantedBy=multi-user.target